html {

}
body {
	background-image:
	url(http://www.gamekyo.com/images_1/31a47e8ac99b8b8c75127f5f1e51e6ae20180904200127.jpg);
	cursor: url('https://i.ibb.co/7SXx1Yq/250px-DQ-Slime2.png'), auto;
}
#textbox {
    display: flex;
    justify-content: space-between;
}
h1 {
  color:darkblue;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: bold;
  text-decoration:overline underline;
  text-shadow:-1px -2px 0px lightgray;
  }
p {
  color:darkblue;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: bold;
  text-decoration:overline underline;
  text-shadow:-1px -2px 0px lightgray;
  }

#input {
  color:darkblue;
  font-family: Helvetica;
  font-size: 15px;
  font-weight: bold;
  text-shadow:-1px -2px 2px lightgray;
  }