@import url('https://fonts.googleapis.com/css?family=VT323');
body {
  background-image:
  url("https://s2.gifyu.com/images/bgp190014b9b24011302e9a.jpg");
  background-repeat: no-repeat; 
}

@font-face {	
	font-family:'VT323', monospace;
}

div.logo {}

div.bar {
  margin-top: 5px;
  margin-left: 790px;
  width: 50px;
  height: 20px;
  border: 2px solid #545454;
  border-radius: 10px;
  box-shadow: 5px 3px gray;
  background: #32CD32;
  transition: width 3s;
}

div.bar p {
  margin-top: 2.5px;
  margin-left: 5px;
  font-family: 'VT323';
  font-size: 13px;
  text-decoration: none;
  display: block;

}


div.bar:hover {
  width: 323px;
}

nav {
  padding: 0px 0;
  min-width: 500px;
}
nav ul {
  background: linear-gradient(90deg,
   rgba(234, 204, 9, 0) 0%,
   rgba(234, 240, 9, 0.2) 25%,
   rgba(234, 204, 9, 0.2) 75%,
   rgba(234, 204, 9, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
   inset 0 0 1px rgba(234, 240, 9, 0.6);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
  padding: 10px;
  color: #EACC09;
  font-size: 18px;
  font-family: Arial;
  text-decoration: none;
  display: block;
}

li a:hover, .dropdown:hover .dropbtn {
  background: linear-gradient(90deg,
   rgba(234, 204, 9, 0.2) 0%,
   rgba(234, 240, 9, 0.2) 25%,
   rgba(234, 204, 9, 0.2) 75%,
   rgba(234, 204, 9, 0.2) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
   inset 0 0 1px rgba(234, 240, 9, 0.6);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: linear-gradient(90deg,
   rgba(234, 204, 9, 0.2) 0%,
   rgba(234, 240, 9, 0.2) 25%,
   rgba(234, 204, 9, 0.2) 75%,
   rgba(234, 204, 9, 0.2) 100%);
  min-width: 160px;
     box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
   inset 0 0 1px rgba(234, 240, 9, 0.6);
  z-index: 1;
    color: #EACC09;
  font-size: 18px;
  font-family: Arial;
}

.dropdown-content a {
  color: #EACC09;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
background: linear-gradient(90deg,
   rgba(234, 204, 9, 0.2) 0%,
   rgba(234, 240, 9, 0.2) 25%,
   rgba(234, 204, 9, 0.2) 75%,
   rgba(234, 204, 9, 0.2) 100%)
   box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
   inset 0 0 1px rgba(234, 240, 9, 0.6);
}

.dropdown:hover .dropdown-content {
  display: block;
}